<aside class="side-nav">
  <div class="choose-filed">
    <select name="" id="">
      <option selected>Meu ambiente</option>
      <option value="">Groupo 1</option>
      <option value="">Groupo 2</option>
    </select>
  </div>

  <div class="side-nav-header">
    <h1>APIS</h1>
    <a href=""> <span class="material-icons">add</span> </a>
  </div>

  <nav class="side-nav-menu">
    <ul>
      <li>
        <a href=""> Lilly API </a>
      </li>
      <li>
        <a href=""> Lilly API </a>
      </li>
      <li>
        <a href=""> Lilly API </a>
      </li>
      <li>
        <a href=""> Lilly API </a>
      </li>
    </ul>
  </nav>
</aside>
