.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  height: 100%; // Ocupa a altura total do grid
  min-height: 220px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;

  // Efeito de Hover: Levanta e muda a borda
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-color: var(--color-secondary);

    .access-btn {
      background-color: var(--color-main);
      color: white;
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;

  .icon-header {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(95, 149, 152, 0.15); // Secondary com opacidade
    display: flex;
    align-items: center;
    justify-content: center;

    .material-icons {
      color: var(--color-main);
    }
  }

  .icons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 10px;
  }

  .more-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #aaa;
    padding: 0;

    &:hover {
      color: var(--color-text-main);
    }
  }
}

.card-body {
  flex-grow: 1; // Empurra o footer para baixo
  margin-bottom: 1.5rem;

  .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-text-main);
    margin: 0 0 0.5rem 0;
    line-height: 1.3;
  }

  .description {
    font-size: 0.9rem;
    color: #666;
    margin: 0;

    // Técnica para cortar texto com "..." após 3 linhas
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f0f0f0;
  padding-top: 1rem;

  .date-info {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.8rem;
    color: #888;

    .material-icons {
      font-size: 14px;
    }
  }

  .access-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    color: var(--color-main);
    border: 1px solid transparent; // Reserva espaço para borda
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;

    .material-icons {
      font-size: 16px;
    }
  }
}
