main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

app-internal-header {
    width: 100%;
}

.main-div {
    width: 100%;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
}