<header>
  <div class="main-div">
    <div class="page-path">
      <span class="material-icons"> http </span>
      <p>Using API</p>
      <p>-></p>
      <p>Module</p>
      <p>-></p>
      <p>Request</p>
    </div>

    <div class="request-input">
      <select name="" id="">
        <option value="">POST</option>
        <option value="">GET</option>
        <option value="">PUT</option>
        <option value="">DELETE</option>
      </select>
      <input type="text" />
      <button>
        <span class="material-icons">send</span>
        Send
      </button>
    </div>

    <div class="menu-options">
      <ul>
        <li>
          <a href=""> <span class="material-icons"> article </span> Header </a>
        </li>
        <li>
          <a href=""> <span class="material-icons"> article </span> Body </a>
        </li>
        <li>
          <a href=""> <span class="material-icons">add</span> Header </a>
        </li>
        <li>
          <a href=""> <span class="material-icons">add</span> Header </a>
        </li>
        <li>
          <a href=""> <span class="material-icons">add</span> Header </a>
        </li>
      </ul>
    </div>
  </div>
</header>
