<nav class="main-nav">
  <div class="main-div">
    <div class="logo-div"></div>

    <div class="menu-div">
      <ul>
        <li> <a href=""> <span class="material-icons">add</span> Ambientes </a></li>
        <li> <a href=""> <span class="material-icons">api</span> Api's </a></li>
        <li> <a href=""> <span class="material-icons">construction</span> Workspaces </a></li>
        <li> <a href=""> <span class="material-icons">account_tree</span> Flows </a></li>
       
      </ul>
    </div>
  </div>
</nav>
