<nav class="main-nav">
  <div class="main-div">
    <div class="menu-div">
    
      <div class="menu-body">
        <ul class="nav-links">
          <li>
            <a href="#ambientes"> <span class="material-icons">dashboard</span> Dashboard </a>
          </li>

          <li>
            <a href="#apis"> <span class="material-icons">history_edu</span> Histórico </a>
          </li>

          <li>
            <a routerLink="api"> <span class="material-icons">api</span> API's </a>
          </li>

          <li>
            <a routerLink="group" title="Gerenciar Grupos">
              <span class="material-icons">groups</span> Grupos
            </a>
          </li>

          <li>
            <a href="#apis"> <span class="material-icons">science</span> Test </a>
          </li>
        </ul>
      </div>

      <div class="menu-personal">
        <ul class="nav-links">
          <li class="notif-badge">
            <a href="#notificacoes"> <span class="material-icons">notifications</span> </a>
          </li>
          <li class="profile-item">
            <a href="#perfil"> <span class="material-icons">account_circle</span> Perfil </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
